# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
public/NF-03-5
public/DSK8
public/dzi
public/memories
public/audio
src/data/pics-parsed.json
src/data/old/pics-versioned.json
src/data/pics-versioned-ts-old.json
src/data/pics-versioned-ts.json
src/data/pics-parsed-favs-jbe-090424.json
src/data/pics-parsed-favs-jbe-050824.json