
#my-audio-player {
  width: 100%;
}

@font-face {
  font-family: "papyrus_pixel_monoregular";
  src: url("/fonts/papyrus-pixel-mono-webfont.woff2") format("woff2"),
    url("/fonts/papyrus-pixel-mono-webfont.woff") format("woff");
    
  /* src: url("/fonts/papyrus-pixel_1-webfont.woff2") format("woff2"),
    url("/fonts/papyrus-pixel_1-webfont.woff") format("woff"); */

  font-weight: normal;
  font-style: normal;
}

#subs-container {
  z-index: 4000;
  position: absolute;
  bottom: 0;
  font-size: 2rem;

  font-family: Papyrus, fantasy;


  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "papyrus_pixel_monoregular";

  width: 100%;
  /* text-align: center; */
  
  color: #ff0;
  text-shadow: #000 1px 1px 3px; 
  pointer-events: none;

  display: flex;
  justify-content: center;
}

#subs-text {
  margin-bottom: 4rem;
}

#subs-text span {
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rgba(255, 255, 255, 0.4); */


}

#subs-text span.animated {
  display: block;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid yellow; /* The typwriter cursor */

   /* Keeps the content on a single line */
  white-space: nowrap;

  margin: 0 auto; /* Gives that scrolling effect as the typing happens */

  letter-spacing: .15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: yellow; }
}


#scroller {
  z-index: 4000;
  position: absolute;
  bottom: 10vh;
  font-size: 2rem;
  /* display: none; */
  font-family: Papyrus, fantasy;
}

@media (orientation: portrait) {
  #subs-container {
    font-size: 1.4rem;
  }

  #subs-text {
    padding: 0 4rem
  }

}

.marquee {
  color: black;
  color: #ff0;
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  /* text-shadow: #fff 0 0 2px;
  text-shadow: #ff0 0 0 2px; */
  /* text-shadow: #ff0 0 0 1px;
  text-shadow: #fff 0 0 2px; */
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.marquee__content li {
  list-style: none;
  /* max-width: 30vw; */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 180s linear infinite;
}

/* Reverse animation */
.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}