#filter-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
}

#model-section {
  height: 47vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-layer {
  width: 3vw;
  /* height: 12.5vh; */
  background-color: transparent !important;
  /* background-color: black !important; */
  background-color: rgba(0,0,0,0.25)!important;

  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #fff 0 0 5px;
}

#action-section {
  height: 35vh;
  display: flex;
  flex-direction: column;
  border-left: 1px dotted white;
  justify-content: space-evenly;
  color: yellow;
  .btn-layer {
    background-color: rgba(0,0,0,0.5)!important;
  }
  .btn-layer.active {
    border: 1px dotted white;
    border-left: none;
  }
  .btn-left {
    color: white;
    background-color: rgba(255,0,0,0.5)!important;
  }
  
  .btn-right {
    color: white;
    background-color: rgba(0,0,255,0.5)!important;

  }
  
}

.btn-layer.active {
  opacity: 1;
  border: 0.1px solid white;
  border: 1px dashed white;
  box-sizing: border-box;
}

@media (orientation: portrait) {
  .btn-layer,
  .btn-zoom {
    width: 4vw;
  }
  #viewer-image {
    width: 94vw;
    padding: 0 4vw;
  }
}

/* ZOOM BUTTON  */

#zoom-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
}

.btn-zoom {
  background-color: #333;
  cursor: pointer;
  width: 2vw;
  box-sizing: border-box;
  flex: 1;
}

.btn-left,.btn-right {
  flex: 2;
}


.btn-zoom.active {
  opacity: 1;
  border: 0.5px solid white;
  border: 1px dotted white;
}


/* AUDIO BUTTON  */

.btn-audio {
  position: fixed;
  top: 3vh;
  left: 2vw;

  background-color: rgba(255, 255, 255, 0.5);

  font-size: 5rem;
  z-index: 10000;

  width: 95vw;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-audio.hasInit {
  background-color: rgba(0, 255, 0, 0.55);

  width: 3vw;
  height: 15vh;
  font-size: 1.5rem;

  left: auto;
  right: 0;
}

@media (orientation: portrait) {
  .btn-audio.hasInit {
    width: 4vw;
    font-size: 0.5rem;
  }
}

.btn-audio.isPlaying {
  background-color: rgba(255, 255, 255, 0.25);
}