#social-media-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Papyrus, fantasy;
  font-size: 0.5rem;
  border-bottom: 1px dashed white;
  mix-blend-mode: difference;
  height: 84vh;
  width: 5rem;
  z-index: 10003;
  flex-direction: column;
}

#social-media-bar a {
  display: block;
  padding: 0.25rem 2rem;
  padding: 0;
  text-decoration: none;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 4vh;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  cursor: pointer;
}

#social-media-bar a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  text-shadow: #000 0 0 5px;
  box-shadow: 0 0 75px rgba(255,255,255, 1.0);
  transition: all 0.25s ease;
}

#social-media-bar a img {
  width: 2rem;
}

.btn-platform {
  width: 3rem
}

@media (orientation: portrait) {
  #social-media-bar { 
    /* height: calc(100vh - 3rem); */
    height: 80vh;
    width: 3rem;
  }
  .btn-platform  {
    width: 3rem;
  }
  #social-media-bar a img {
    width: 1rem;
  }
}


/* .youtube {
  background-color: rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 1);
  color: white;
}
.youtube:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.instagram {
  background-color: rgba(193, 53, 132, 0.3);
  background-color: rgba(193, 53, 132, 1);
  color: white;
}
.instagram:hover {
  background-color: rgba(193, 53, 132, 0.8);
}
.tiktok {
  background-color: rgba(255, 0, 80, 0.3);
  background-color: rgba(255, 0, 80, 1);
  color: black;
  color: white;
}
.tiktok:hover {
  background-color: rgba(255, 0, 80, 0.8);
  background-color: rgba(255, 0, 80, 1);
  color: black;
} */