#filter-bar, .filter-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
}

.filter-bar.right {
  cursor: pointer;
  left: auto;
  right: 0;
}

.filter-bar.right .model-section {
  height: 60vh;
  left: auto;
}

#model-section, .model-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-layer {
  width: 3vw;
  background-color: transparent !important;
  /* background-color: black !important; */
  background-color: rgba(0,0,0,0.25)!important;

  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #fff 0 0 5px;
}

.btn-layer:hover {
  background-color: rgba(0,0,0,0.50)!important;
}

#action-section, .action-section {
  height: 30vh;
  display: flex;
  flex-direction: column;
  border-left: 1px dotted white;
  justify-content: space-evenly;
  color: yellow;
  .btn-layer {
    background-color: rgba(0,0,0,0.5)!important;
  }
  .btn-layer.active {
    border: 1px dotted white;
    border-left: none;
  }
  .btn-left {
    color: white;
    background-color: rgba(255,0,0,0.5)!important;
  }
  
  .btn-right {
    color: white;
    background-color: rgba(0,0,255,0.5)!important;
  }
  .btn-layer:hover {
    background-color: rgba(0,0,0,0.70)!important;
  }
}

.btn-layer.fried {
  color: red;
}

.btn-layer.active {
  opacity: 1;
  border: 0.1px solid white;
  border: 1px dashed white;
  box-sizing: border-box;
}

/* ZOOM BUTTON  */

#zoom-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
  display: none;
}

.btn-zoom {
  background-color: #333;
  cursor: pointer;
  width: 2vw;
  box-sizing: border-box;
  flex: 1;
}

.btn-left,.btn-right {
  flex: 2;
}


.btn-zoom.active {
  opacity: 1;
  border: 0.5px solid white;
  /* border: 1px dotted red; */
}


/* AUDIO BUTTON  */

.btn-audio {
  position: fixed;
  top: 5vh;
  left: 3vw;

  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: rgba(255, 255, 255, 1.0); */
  /* background: radial-gradient(circle, rgba(200,200,200,0.3) 0%, rgba(0,0,0,0.5) 95%); */

  box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.25);
  /* box-shadow: 0 0 10px 10px rgba(0,0,0,1.0); */
  box-shadow: 0 0 10px 10px rgba(255,255,255, 0.15);

  font-size: 5rem;
  z-index: 10000;

  width: 94vw;

  height: 96vh;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ff0;
  color: #fff;
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */

}

/* .btn-audio:hover {
  text-decoration: underline;
} */

.btn-audio span {
  /* mix-blend-mode: lighten; */
  text-shadow: 0 0 5px black;
  text-shadow: 0 0 10px white;
}

.btn-audio.hasInit {
  background-color: rgba(0, 255, 0, 0.55);
  background-color: rgba(255, 255, 255, 0.55);

  width: 3vw;
  height: 10vh;
  font-size: 1rem;

  left: auto;
  right: 0;
  top: 0
}

@media (orientation: portrait) {
  .btn-audio {
    width: calc(100vw - 6rem);
    height: 96vh;
    left: 0;
    top: 4vh;
    margin-left: 3rem;
  }
  .btn-audio.hasInit {
    width: 3rem;
    font-size: 0.5rem;
    top: 0;
    height: 10vh;
  }
}

.btn-audio.isPlaying {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (orientation: portrait) {
  .filter-bar {
    /* left: -1rem; */
    left: 0;
  }
  .filter-bar:hover {
    left: 0;
  }
  .filter-bar.right {
    left: auto;
    /* right: -1rem; */
  }
  .filter-bar.right:hover {
    right: 0;
  }
  .btn-layer {
    width: 3rem;
  }
  .btn-zoom {
    display: none;
  }
  #viewer-image {
    width: 100vw!important;
    margin-left: 0 !important;
  }
}