
#filter-bar, .filter-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
  mix-blend-mode: difference;
  font-size: 2rem;
  cursor: pointer;
}

.filter-bar.right .model-section {
  height: 50vh;
  left: auto;
}

.filter-bar.right .action-section {
  height: 50vh;
}

#model-section, .model-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.btn-layer {
  width: 10vw;
  background-color: transparent !important;
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #fff 0 0 5px;
  /* text-shadow: rgba(255, 255, 0, 0.75) 0 0 10px; */
}

.btn-layer:hover {
  background-color: rgba(0,0,0,0.50)!important;
}

#action-section, .action-section {
  height: 30vh;
  display: flex;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  color: yellow;
  .btn-layer {
    background-color: rgba(0,0,0,0)!important;
  }
  .btn-layer.active {
    border-left: none;
  }
  .btn-left {
    color: white;
    background-color: rgba(255,0,0,0.5)!important;
  }
  
  .btn-right {
    color: white;
    background-color: rgba(0,0,255,0.5)!important;
  }
  .btn-layer:hover {
    background-color: rgba(0,0,0,0.70)!important;
  }
}

.btn-layer.fried {
  color: red;
}

.btn-layer.active, .btn-platform:hover {
  opacity: 1;
  box-sizing: border-box;
  box-shadow: 0 0 75px rgba(255,255,255, 1.0);
  mix-blend-mode: exclusion;
}

/* ZOOM BUTTON  */

#zoom-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  flex-direction: column;
  display: none;
}

.btn-zoom {
  background-color: #333;
  width: 2vw;
  box-sizing: border-box;
  flex: 1;
}

.btn-left,.btn-right {
  flex: 2;
}


.btn-zoom.active {
  opacity: 1;
  box-shadow: #fff 0 0 5px;
}

@media (orientation: portrait) {
  .filter-bar {
    left: 0;
  }
  .filter-bar:hover {
    left: 0;
  }
  .filter-bar.right {
    left: 2rem;
  }
  .filter-bar.right:hover {
    right: 0;
  }
  #filter-bar, .filter-bar {
    font-size: 1rem;
  }
  .btn-layer {
    width: 6rem;
    width: 3rem;
  }
  .btn-zoom {
    display: none;
  }
  #viewer-image {
    width: 100vw!important;
    margin-left: 0 !important;
  }
}