#social-media-bar {
  width: 25vw;
  width: 97vw;
  position: fixed;
  display: none;
  /* bottom: 0; */
  top: 0;
  right: 3vw;
  z-index: 2000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Papyrus, fantasy;
  font-size: 0.5rem;
  border-bottom: 1px dashed white;
  /* display: none; */
}

#social-media-bar a {
  display: block;
  padding: 0.25rem 2rem;
  padding: 0;
  text-decoration: none;
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 5vh;

  background-color: rgba(0, 0, 0, 0.3)
}

#social-media-bar a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#social-media-bar a img {
  width: 16px;
}

.youtube {
  background-color: rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 1);
  color: white;
}
.youtube:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.instagram {
  background-color: rgba(193, 53, 132, 0.3);
  background-color: rgba(193, 53, 132, 1);
  color: white;
}
.instagram:hover {
  background-color: rgba(193, 53, 132, 0.8);
}
.tiktok {
  background-color: rgba(255, 0, 80, 0.3);
  background-color: rgba(255, 0, 80, 1);
  color: black;
  color: white;
}
.tiktok:hover {
  background-color: rgba(255, 0, 80, 0.8);
  background-color: rgba(255, 0, 80, 1);
  color: black;
}
@media (orientation: portrait) {
  #social-media-bar  {
    right: 12vw;
    width: 92vw;
  }
}
