/* AUDIO BUTTON  */

.btn-audio {
  position: fixed;
  top: 0;
  left: 10vw;

  box-shadow: 0 0 75px rgba(255,255,255, 1.0);
  font-size: 5rem;
  z-index: 10000;

  width: calc(90vw - 6rem);
  width: calc(90vw);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ff0;
  color: #fff;
  transition: all 0.1s ease;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-audio span {
  text-shadow: 0 0 25px yellow;
  text-shadow: 0 0 25px white;
}

.btn-audio.hasInit {
  background-color: rgba(0, 255, 0, 0.55);
  background-color: rgba(255, 255, 255, 0.55);

  width: 5rem;
  height: 8vh;
  font-size: 2rem;

  left: auto;
  right: 0;
  top: 0;
  z-index: 10004;
}

@media (orientation: portrait) {
  .btn-audio {
    height: 100vh;
    left: 0;
    top: 0;
    width: 100%;
  }
  .btn-audio.hasInit {
    width: 3rem;
    font-size: 1rem;
    top: 0;
    height: 10vh;
  }
}

@media (max-device-width: 1024px) and (orientation: landscape) {
  .btn-audio.hasInit   {
    font-size: 1rem!important;
  }
}

.btn-audio.isPlaying {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn-audio:hover {
  background-color: rgba(255, 255, 255, 0.2)!important;
}