#grid-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 4000;
}

#grid-bar div {
  border: 0.5px solid white;
  padding: 0.15rem 0.4rem;
  mix-blend-mode: difference;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  height: 100vh;
  width: 100vw;
}

.one-one .grid-container {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.two-two .grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.three-three .grid-container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-item {
  overflow: hidden;
  position: relative;
}

@keyframes move {
  0% {
    object-position: left;
  }
  50% {
    object-position: right;
  }
  100% {
    object-position: left;
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.grid-item img {
  object-fit: cover;
  /* object-fit: contain; */

  /* object-position: left; */
  width: 100%;
  height: 100%;
}

.grid-item img.fried {
  animation: zoom-in-out 60s infinite;
}

/* .one-one .grid-item img{
  object-fit: contain;
}
.two-two .grid-item img{
  object-fit: cover;
}
.three-three .grid-item img {
  object-fit: cover;
} */

@media (orientation: portrait) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-item img {
    animation: move 120s infinite;
  }
}

/* 0% {
  opacity: 0;
  transform: translate3d(0,3rem,0);
}
100% {
  opacity: 1;
  transform: translateZ(0);
} */